{% extends 'base.html' %}
{% block title %}Movie Recommender | Movielens Dataset{% endblock %}
{% block header %}
<nav>
	<div class="nav-wrapper row">
		<form class="col s12 m10 offset-m1 l8 offset-l2" action="{% url 'search' %}" method="GET" id="search-form" style="position: relative">
			<div class="input-field">
				<input id="search" name="query" type="search" placeholder="Search Movies..." required>
				<label class="label-icon" for="search"><i class="fa fa-2x fa-search" aria-hidden="true"></i></label>
				<i class="fa fa-2x fa-times" aria-hidden="true"></i>
			</div>
			<div class="col s12 divider"></div>
			<div class="col s12 light-blue darken-2" style="z-index: 1; position: absolute; max-height: 450px; overflow-y: scroll; display: none;" id="search-results"></div>
		</form>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 5%">
	<div class="col s10 offset-s1" id="genre-form-div">
		<h5 class="blue-text">Genre Based Recommendations</h5>
		<form class="col s12" id="genre-form" action="{% url 'genre' %}" method="POST">
			{% csrf_token %}
			{{ genre_form.as_p }}
			<div class="row">
				<button class="col s10 offset-s1 btn btn-waves blue" type="submit">Recommend Movies <i class="fa fa-smile-o"></i></button>
			</div>
		</form>
		<div class="col s10 offset-s1" id="genre-preloader"></div>
		<div class="col s10 offset-s1" id="genre-recommendations"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
	$('select').material_select(); // initialize the select dropdowns
	//Search
	var typingTimer;
	var doneTypingInterval = 300;
	var $input = $('#search');
	var $results = $('#search-results');

	//on keyup, start the countdown
	$input.on('keyup', function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(search, doneTypingInterval);
	});

//on keydown, clear the countdown 
	$input.on('keydown', function () {
		clearTimeout(typingTimer);
	});

	$input.on('blur', function(e) {
//		$results.css("display", "none");
	});

	$input.on('focus', function() {
		$results.css("display", "block");
	});
	
	function search (){
		var $form = $('#search-form'),
			url = $form.attr('action'),
			query = $input.val(),
			type = $form.attr('method');
		$.ajax({
			url: url,
			type: type,
			data: {'query': query},
			processData: true,
			contentType: false,
			beforeSend: function() {
				Materialize.toast('<b class="yellow-text">Fetching Results...</b>', 10000);
			},
			complete: function() {
				$('.toast').remove();
				Materialize.toast('<b class="yellow-text">Results Loaded.</b>', 1000);
			},
			success: function(data, status, xhr){
				if (!data.result)
					$results.html("<p class='center'>"+data.message+"</p>")
				else {
					var $ul = $('<ul class="col s12 teal-text"/>');
					for (var each of data.result) {
						var $li = $('<li class="col s12"/>'),
							$a = $('<a/>');
						$a.attr('href', each.url);
						$a.text(each.name);
						$ul.append($li.append($a));
					}
					$results.empty();
					$results.append($ul);
				}
				$results.css("display", "block");
			},
			error: function(status, xhr, error){
				if (status.status >= 500)
					Materialize.toast('<b class="red-text">Sorry, unexpected error occurred. Please try again later.</b>', 4000);
				else
					Materialize.toast(('<b class="red-text">' + (xhr['error'] ? xhr['error'] : 'Sorry, an error occurred.') + '</b>'), 4000);
			},
		});
	}

	$('#genre-form').on('submit', function(e){
		e.preventDefault();
		var $form = $(this),
			url = $(this).attr('action'),
			type = $(this).attr('method'),
			form_data = new FormData($form[0]);
		$.ajax({
			url: url,
			type: type,
			data: form_data,
			processData: false,
			contentType: false,
			beforeSend: function() {
				$('#genre-preloader').html($('<div class="progress"><div class="indeterminate"></div></div>'));
				$('#genre-recommendations').empty();
			},
			complete: function() {
				$('#genre-preloader').empty();
			},
			success: function(data, status, xhr){
				$('#genre-recommendations').html(data.html);
			},
			error: function(status, xhr, error){
				if (status.status >= 500)
					Materialize.toast('<b class="red-text">Sorry, unexpected error occurred. Please try again later.</b>', 4000);
				else
					Materialize.toast(('<b class="red-text">' + (xhr['error'] ? xhr['error'] : 'Sorry, an error occurred.') + '</b>'), 4000);
			},
		});
	});
});
</script>
{% endblock %}
