{% extends 'base.html' %}
{% block title %}Movie Recommender | Movielens Dataset{% endblock %}

{% block head %}
<style>
	.indicator {background-color: #40c4ff !important}
	.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {color: #0d47a1 !important; font-size: 16px;}


	@media only screen 
	and (min-width : 300px)
	and (max-width : 500px) {

	    h2 {
	    font-size: 20px;
	    font-weight: 500;
	   }

	   h3 {
	    font-size: 20px;
	   }

	   a 
	   {
	   	font-size: 20px;
	   }
	}

	    @media only screen 
	    and (min-width : 600px)
	    and (max-width : 1500px)
	     {

	     h2 {
	        font-size: 50px;
	        font-weight: 600;
	       }

	    }

</style>
{% endblock %}

{% block header %}
<nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="/" class="yellow-text brand-logo center">Movie Recommender<i class="fa fa-video-camera" aria-hidden="true"></i></a>
      </ul>
    </div>
  </nav>
        

{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 blue lighten-5">
      <ul class="tabs blue lighten-5">
        <li class="tab col s3 m4 l6"><a  href="#nameSearch" style="font-size: 1rem">Search by Name</a></li>
        <li class="tab col s3 m4 l6"><a class="active" href="#GSearch" style="font-size: 1rem">Genre Based</a></li>
        </ul>
    </div>
    <div id="nameSearch" style="margin-top:50px;" class="col s11 m11 l6 offset-l3 offset-m1 offset-s1" > <h2 class="indigo darken-4 center-align white-text text-darken-3" id="gbr" style="opacity: 0.8;border-radius: 25px;margin-bottom: 25px;">Search by name</h2>
    <div class="col s10 m10 l10 offset-l1 offset-s1 offset-m1" style="background-color: white;opacity: 0.8;border-radius: 25px;margin-top: 24px;" >
    	
            <form class="black-text text-darken-4 col s12 m10 offset-m1 l10 offset-l1" action="{% url 'search' %}" method="GET" id="search-form" style="position: relative;">
            <div class="input-field">
              <input id="search" name="query" type="search" autocomplete="off" placeholder="Search Movies..." required>
              <label class="label-icon" for="search"><i class="fa fa-2x fa-search" aria-hidden="true"></i></label>
            </div>
			<div class="col s12 teal-text flow-text grey lighten-5" style="z-index: 1; position: absolute; max-height: 450px; overflow-y: scroll; display: none;" id="search-results"></div>
          </form>
    </div>
    </div>
  </div>
  <div id="GSearch" class="col s12" style="margin-top:50px;">
    
    <div class="row">
    <div class="col s11 m11 l6 offset-l3 offset-m1 offset-s1" id="genre-form-div">
    <h2 class="indigo darken-4 center-align white-text text-darken-3" id="gbr" style="opacity: 0.8;border-radius: 25px;">Genre Based Recommendations</h2>
    <form class="blue lighten-5 col s11 m11 l8 offset-l2 offset-m1 offset-s1" id="genre-form" action="{% url 'genre' %}" method="POST">
      {% csrf_token %}
      {{ genre_form.as_p }}

    </div>
    </div>
      <div class="row" >
        <button class=" lighten-2 col s10 m8 l6 offset-s1 offset-m2 offset-l3 btn btn-waves" type="submit" style="background-color: #FBA100">Recommend Movies <i class="fa fa-smile-o"></i></button>
      </div>
    </form>
      <div class="col s10 offset-s1" id="genre-preloader"></div>
      <div class="col s10 offset-s1" id="genre-recommendations"></div>
    </div>
  </div>
</div>
</div>    


{% endblock %}

{% block scripts %}
<script>

$(document).ready(function(){
	$('select').material_select(); // initialize the select dropdowns
	//Search
	var typingTimer;
	var doneTypingInterval = 300;
	var $input = $('#search');
	var $results = $('#search-results');

	//on keyup, start the countdown
	$input.on('keyup', function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(search, doneTypingInterval);
	});

//on keydown, clear the countdown 
	$input.on('keydown', function () {
		clearTimeout(typingTimer);
	});

	$input.on('blur', function(e) {
//		$results.css("display", "none");
	});

	$input.on('focus', function() {
		$results.css("display", "block");
	});
	
	function search (){
		var $form = $('#search-form'),
			url = $form.attr('action'),
			query = $input.val(),
			type = $form.attr('method');
		$.ajax({
			url: url,
			type: type,
			data: {'query': query},
			processData: true,
			contentType: false,
			beforeSend: function() {
				Materialize.toast('<b class="yellow-text">Fetching Results...</b>', 10000);
			},
			complete: function() {
				$('.toast').remove();
				Materialize.toast('<b class="yellow-text">Results Loaded.</b>', 1000);
			},
			success: function(data, status, xhr){
				if (!data.result)
					$results.html("<p class='center'>"+data.message+"</p>")
				else {
					var $ul = $('<ul class="col s12 black-text"/>');
					for (var each of data.result) {
						var $li = $('<li class="col s12 black-text"/>'),
							$a = $('<a/>');
						$a.attr('href', each.url);
						$a.text(each.name);
						$ul.append($li.append($a));
					}
					$results.empty();
					$results.append($ul);
				}
				$results.css("display", "block");
			},
			error: function(status, xhr, error){
				if (status.status >= 500)
					Materialize.toast('<b class="red-text">Sorry, unexpected error occurred. Please try again later.</b>', 4000);
				else
					Materialize.toast(('<b class="red-text">' + (xhr['error'] ? xhr['error'] : 'Sorry, an error occurred.') + '</b>'), 4000);
			},
		});
	}

	$('#genre-form').on('submit', function(e){
		e.preventDefault();
		var $form = $(this),
			url = $(this).attr('action'),
			type = $(this).attr('method'),
			form_data = new FormData($form[0]);
		$.ajax({
			url: url,
			type: type,
			data: form_data,
			processData: false,
			contentType: false,
			beforeSend: function() {
				$('#genre-preloader').html($('<div class="progress"><div class="indeterminate"></div></div>'));
				$('#genre-recommendations').empty();
			},
			complete: function() {
				$('#genre-preloader').empty();
			},
			success: function(data, status, xhr){
				$('#genre-recommendations').html(data.html);
			},
			error: function(status, xhr, error){
				if (status.status >= 500)
					Materialize.toast('<b class="red-text">Sorry, unexpected error occurred. Please try again later.</b>', 4000);
				else
					Materialize.toast(('<b class="red-text">' + (xhr['error'] ? xhr['error'] : 'Sorry, an error occurred.') + '</b>'), 4000);
			},
		});
	});
});
</script>
{% endblock %}
